---
import MainLayout from "../../layouts/MainLayout.astro";
import "../../styles/generel.css";
import SingleViewIcons from "../../components/SingleViewIcons.astro";

export async function getStaticPaths() {
  const data = await fetch("https://couztkypuvadixszzvmk.supabase.co/rest/v1/KarruselFestival", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvdXp0a3lwdXZhZGl4c3p6dm1rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0MDk2NDgsImV4cCI6MjAyNTk4NTY0OH0.oMKp-E0V7IIEqcgHIkiLPHgJ0ErGic-JPce1db7I5js",
    },
  }).then((response) => response.json());

  return data.map((artist) => {
    return {
      params: { id: artist.slug },
      props: { myData: artist },
    };
  });
}

const { myData } = Astro.props;
---

<MainLayout>
  <!-- <h1>{myData.name}</h1> -->
  <div class="wrapper">
    <img src={"/portraet/" + myData.image} alt={"Image of " + myData.name} />
    <div class="artist_container">
      <h1>{myData.name}</h1>
      <h3>Dato: {myData.dato}</h3>
      <h3>Scene: {myData.Scene}</h3>
      <p>{myData.description}</p>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/artist/3LHqODf1hGAgZ5LTw1Gf4C?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <SingleViewIcons />
    </div>
  </div>
</MainLayout>

<style>
  /* h1 {
    position: absolute;
    font-family: rye;
    top: 20%;
    left: -11%;
    color: var(---green-100);
    transform: rotate(-90deg);
    font-size: 3rem;
  } */

  .artist_container {
    margin: 20px 0 20px 20px;
    background-color: #1e1e1ebd;
  }

  .wrapper img {
    margin-right: 20px;
    margin-left: 20px;
  }

  .artist_container h1 {
    margin-bottom: 10px;
  }

  .artist_container h3 {
    color: rgb(203, 202, 202);
    font-size: var(--font-size-h3-mobile);
  }

  .artist_container :nth-child(4) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  iframe {
    margin-top: 30px;
  }

  p {
    font-size: var(--font-size-p);
    font-weight: 300;
  }

  @media (min-width: 800px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin: 30px auto;
      align-self: start;
      max-width: 1300px;
    }

    .artist_container {
      margin-top: 0;
    }

    .artist_container :nth-child(4) {
      margin-top: 20px;
    }
  }
</style>
